%h1
  Estimado
  =@parameters[:name]

.row
  %p
    ="Se han realizado los siguientes cambios en el estado procesal/ubicación de la causa con el identificador #{@parameters[:identificator]}"

.row
  =render partial: "general_causas/changes_table", locals: { changes: @parameters[:changes] }


.row
  %p Procurador Web
