.page-header
  %h1 Mis Clientes


%table.table.table-striped.table-bordered.table-hover.datatable.display.responsive.no-wrap
  %thead
    %tr
      %th Name
      %th Apellido
      %th Rut
      %th Ver


  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td= client.lastname
        %td= client.rut
        %td= link_to "Ver", client, class: "btn btn-primary"



