.page-header
  = link_to new_retiro_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Retiro
  %h1 Listing retiros

= render "general_causas/changes_table", changes: CausaChange.all