.row
  .col-md-12
    .grid.simple.can-collapse
      .grid-title
        %h4.semi-bold Causas
        .tools
          %a.marg-t-10.collapse
      .grid-body
        %table.table
          %thead
            %tr
              %th RIT
              %th RUC
              %th Fecha de Ingreso
              %th Caratulado
          %tbody
            -@listado.each do |c|
              %tr
                %td
                  %span
                    = c[2]
                %td
                  %span
                    = c[3]
                %td
                  %span
                    = c[4].force_encoding("ISO-8859-1").encode("UTF-8")
                %td
                  %span
                    = c[5].force_encoding("ISO-8859-1").encode("UTF-8")