.row
  .col-md-12
    .grid.simple.can-collapse
      .grid-title
        %h4.semi-bold Resultados de Búsqueda
        .tools
          %a.marg-t-10.collapse
      .grid-body
        %table.table.table-striped.datatable.display.responsive.no-wrap
          %thead
            %tr
              %th Competencia
              %th RUC/ROL/RIT
              %th Caratulado
              %th Tribunal

          %tbody
            -@causas.each do |d|
              -c=d.causa
              %tr
                %td
                  %span
                    =competencia(c.class.to_s)
                %td
                  %span
                    =c.identificator
                %td
                  %span
                    =c.caratulado
                %td
                  %span
                    =c.tribunal
