-unless general_causas.count<1
	.row
		.col-md-12
			.grid.simple.can-collapse
				.grid-title
					%h4.semi-bold Causas
					.tools
						%a.marg-t-10.collapse
				.grid-body
					%table.table
						%thead
							%tr
								%th RIT
								%th RUC
								%th Caratulado
								%th Tribunal
								%th Not1
								%th Not2
								%th Not3
						%tbody
							-general_causas.each do |d|
								-c=d.causa
								-user_causa = d.user_causas.find_by(account_id: current_user.account.id)

								-unless c.nil?
									%tr
										%td
											%span
												=c.identificator
										%td
											%span
												=#c.ruc
										%td
											%span
												=#c.caratulado
										%td
											%span
												=#c.tribunal
										- unless user_causa.nil?												
											%td
												%span
													=role_inline(user_causa, :not1)
											%td													
												%span
													=role_inline(user_causa, :not2)
											%td
												%span
													=role_inline(user_causa, :not3)


