.page-header
    %h1 Mis Causas en Corte
%h4 Corte de Apelaciones - Corte Suprema


.row
    .col-md-12.my-causas
        .grid.simple.can-collapse
            .grid-body
                %table.table.table-striped.datatable.display.responsive.no-wrap
                    %thead
                        %tr
                            %th Identificador
                            %th Caratulado
                            %th Tribunal
                            %th Competencia
                            -#%th CA
                            -#%th CS
                            %th Estado Procesal
                            %th Ubicacion
                            %th Cambios Cortes
                            %th Ver
                    %tbody
                        -@general_causas.each do |d|
                            -c=d.causa
                            -user_causa = d.user_causas.find_by(account_id: current_user.account.id)

                            -unless c.nil?
                                %tr
                                    %td
                                        %span
                                            =c.identificator
                                    %td
                                        %span
                                            =c.caratulado
                                    %td
                                        %span
                                            =c.tribunal
                                    %td
                                        %span
                                            =competencia(c.class.to_s)                                    
                                    - unless user_causa.nil?
                                        %td
                                            %span
                                                =c.estado_procesal
                                        %td
                                            %span
                                                =c.ubicacion
                                        %td
                                            %span
                                                %input{type: "checkbox", "data-toggle"=>"switch", id:"custom-switch-01", checked: role_value(user_causa,:not3),class:'switch',name: "not3_#{user_causa.id}"}
                                        %td
                                            %span
                                                = link_to "Ver", general_causa_path(user_causa), class: "btn btn-primary"




:javascript
    initBla('#causas-select-container');
    $(".select2-search").show();