.page-header
  = link_to new_general_causa_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Causa
  %h1 Listing general_causas

=render partial: "general_causas/table", locals: { general_causas: @general_causas }
