/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * require bootstrap_and_overrides
 *= require font-awesome
 *= require gritter
 *= require ui-select
 *= require_tree .
 *= require_self
 */


@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css');
@import url('http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css');
.timepicker-picker .table-condensed td{text-align:center}


.add_new{
    background: #ECF0F1;
}

.my-causas {
    margin-top: 30px;
}

table{
    font-size: 14px;
}